
<div class="timeToArriveResults">
  {{#each airports}}
  <div class="col-lg-8">
    <h1>{{airport_name}}</h1><hr>
  
    <h3>Airport IATA Code: {{IATA}}</h3>
    <h3>State: {{st}}</h3>
    <h4>How early to arrive for Domestic flights: {{pre_dom}}</h4>
    <h4>How early to arrive for International flights: {{pre_int}}</h4>
    </div>
   <hr>

  {{/each}}
  <hr>
</div>
