<div class="timeToArriveResults">
  {{#each airports}}
  <div class="col-lg-8">
    <h1>{{airport_name}}</h1><br><hr>
  
    <h3>Airport IATA Code: {{IATA}}</h3>
    <h3>State: {{st}}</h3>
    <h5>How early to arrive for Domestic flights: {{pre_dom}}</h5>
    <h5>How early to arrive for International flights: {{pre_int}}</h5>
    </div>
   

  {{/each}}
  <hr>
</div>
